.formInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formInputLabel {
  display: inline-block;
  font-size: 14px;
  margin-left: 17px;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 15px;
  cursor: default;
}

.formSubmitButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1rem 0.7rem 1.4rem;

  i,
  svg {
    transition: margin 0.3s, opacity 0.3s;
    margin: 0 0 0 -6px;
    font-size: 0.85em;
    opacity: 0;
  }

  &:hover:enabled,
  &.loading {
    i,
    svg {
      margin: 0 0 0 14px;
      font-size: 0.85em;
      opacity: 0.5;
    }
  }
}

.formInputError {
  font-size: 14px;
  margin: 5px 0 5px 17px;
  color: #d43f3a;
}
